<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">{{appname}}</h5>
        <div>
            <form>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="lookupNameInput">Nama Supplier</label>
                        <input type="text" class="form-control" id="lookupNameInput" [(ngModel)]='searchTerm.sellerName'
                            name="searchName" placeholder="Enter Name">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="customerName">Customer</label>
                        <input type="text" class="form-control" id="customerName" [(ngModel)]='searchTerm.customerName'
                            name="customerName" placeholder="Enter Name">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="tgl1">Tanggal transaksi dari</label> 
                        <div class="input-group">
                            <input 
                                class="form-control" 
                                placeholder="yyyy-mm-dd"
                                [(ngModel)]="tgl1"
                                name="tgl1" 
                                ngbDatepicker #d1="ngbDatepicker"
                            >
                            <!-- <input class="form-control" 
                                placeholder="yyyy-mm-dd"
                                [(ngModel)]="tgl1" 
                                (dateSelect)="onDateSelect($event)"/
                                [displayMonths]="1" [navigation]="select" [outsideDays]="visible"
                                [showWeekNumbers]="true" 
                                ngbDatepicker 
                                #d1="ngbDatepicker"> -->
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                <i class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="lookupKodeInput">s/d</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                [(ngModel)]="tgl2"
                                name="tgl2" 
                                [displayMonths]="1" [navigation]="select" [outsideDays]="visible"
                                [showWeekNumbers]="true" ngbDatepicker #d2="ngbDatepicker">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                                <i class="fa fa-calendar fa-lg"></i>
                            </button>
                        </div>                
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" (click)="onFilter()" class="btn mr-2 btn-outline-success btn-sm">Search <i
                        class="fa fa-search fa-lg"></i></button>
                    <button type="button" (click)="resetFilter()" class="btn btn-outline-danger btn-sm">Reset <i
                        class="fa fa-refresh fa-lg"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Addnew
                        <i class="fa fa-plus-circle fa-lg"></i></button>

                </div>

            </form>
        </div>

        <div style="height:400px; padding: 15px 15px 15px 15px; ">
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Tgl Transaksi</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Tgl Antar</th>
                        <th scope="col">Jam Antar</th>
                        <th scope="col">Barang</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Status</th>
                        <th scope="col">Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaksi of transaksis">
                        <td>
                            <!-- <button type="button" (click)="open('edit', transaksi)" class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-list fa-lg"></i>
                            </button> -->
                        </td>
                        <td>{{transaksi.transaksiDateStr}}</td>
                        <td>{{transaksi.sellerName}}</td>
                        <td>{{transaksi.tanggalRequestAntarStr}}</td>
                        <td>{{transaksi.jamRequestAntar}}</td>
                        <td>{{transaksi.namaProduct}}</td>
                        <td>{{transaksi.customerName}}</td>
                        <td>{{transaksi.driverName}}</td>
                        <td>{{getStatus(transaksi.status)}}</td>
                        <td>{{transaksi.lastUpdateStr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination size="sm" [collectionSize]="totalData" [(page)]="curPage" [maxSize]="totalRecord"
            (pageChange)="loadPage()" [boundaryLinks]="true">
        </ngb-pagination>
    </div>

</div>
